h2 {
    font-family: $font-aleo;
    font-size: 36px;
    color: rgb(255, 255, 255);
    line-height: 0.722;
    font-weight: normal;

}

p {
    font-family: $font-sans;
    font-size: 16px;
    line-height: 1.625;
    font-weight: normal;
    color: rgb(255, 255, 255);
}


// .style {
//     font-size: 36px;
//     font-weight: 200;
// }
  